/* modal */

.modal_container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1000;
    align-items:center;
    justify-content: center;
    padding: 2rem;
  }
  
  .add_modal{
    background-color: white;
    max-height: 90vh;
    overflow-y: scroll;
    width: 500px;
    border-radius: 10px;
    scrollbar-width: none;
  }
  
  .add_modal_title{
    display: flex;
    background-color: #F3F6F9;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .add_modal_title div{
    display: flex;
    align-items: center;
  }
  
  .add_modal_title div img{
    margin-right: 0.4rem;
  }
  
  .add_modal_form{
    padding: 1.5rem;
  }
  

.add_product_inputs{
    padding-top: 1.5rem;
  }
  
  .input_duo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input_duo label{
    padding-bottom: 0.6rem;
    font-weight: 500;
    font-size: 14px;
  }
  
  .input_duo input,.input_duo textarea,.input_duo select{
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #D5D9E2;
    height: 40px;
    padding-left: 1rem;
    font-size: 14px;
    color: #3A4252;
  }
  
  .input_duo textarea{
    height: auto;
    min-height: 8rem;
    resize: vertical;
    padding-top: 1rem;
  }
  
  .double_input{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .double_input .input_duo{
    width: 50%;
  }
  
  .form_buttons{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
  
  .form_buttons button{
    padding: 8px 16px;
    height: 38px;
    border: none;
    background-color: #0ab39c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form_buttons .red_button{
    background-color: #ff6d43;
    margin-right: 1rem;
  }
  